/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 58px;
  padding-bottom: 1px;
  /* color: #5a5a5a; */
}

.slider-text{
  font-weight: bold; 
}

/* .colr-black{
  color: black;
} */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 900px) {
  /* Bump up size of carousel content */
  .imgg-width{
    height: 400px !important;
  }
  
  /* .mrg-btm{
    margin-bottom: 30px !important;
  } */
  .carousel-caption p{
    margin-bottom: 90px;
    font-size: 15px;
    line-height: 1.1;
  }
  .carousel-caption h1{
    font-size: 23px;
  }
  /* .featurette-heading {
    font-size: 50px;
  } */
}

/* @media (min-width: 900px) {
  .featurette-heading {
    margin-top: 2px;
  }
} */