.container-right{
    /* width: 600px;
    height:400px; */
    border: 1px solid black;
    /* float:right; */
    /* height: 100vh; */
    height: -webkit-fill-available;
    max-height: 100vh;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    
}
.img-1{
    background-image: url("logo-notes/c.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* transform: translate(); */
    /* z-index: -1; */
}
.img-2{
    background-image: url("logo-notes/java.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* transform: translate(); */
    /* z-index: -1; */
}
.img-3{
    background-image: url("logo-notes/daa.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* transform: translate(); */
    /* z-index: -1; */
}
.img-4{
    background-image: url("logo-notes/dsa.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* transform: translate(); */
    /* z-index: -1; */
}
.img-5{
    background-image: url("logo-notes/uhv.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* transform: translate(); */
    /* z-index: -1; */
}


.flex-container-d a{
    /* display: ; */
    float: right;
    margin-top: -21px;
    margin-right: -13px;
    opacity: .4;
}

.flex-container-d a:hover{
    opacity: 1;
    
}
.flex-container-d 
{
    display: flex;
    flex-wrap: wrap;
    /* height: 500px; */
    justify-content: space-evenly;
    margin-top: 17px;
    /* align-items: center; */
    /* background-color: DodgerBlue; */
}
        
.flex-container-d > div {
    width:165px;
    height:143px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin-top: 12px;
    border-radius: 25px;
    border: 1px solid lightblue;
    /* opacity: .9; */
}

@media (max-width: 768px) {

    .flex-container-d a{
        /* display: ; */
        float: right;
        margin-top: -21px;
        margin-right: -13px;
    }

    .flex-container-d > div {
        width:135px;
        height:113px;
        background-color: #f1f1f1;
        margin: 2px;
        padding: 5px;
        font-size: 19px;
        margin-top: 3px;
        border-radius: 22px;
        border: 1px solid lightblue;
        /* opacity: .9; */
    }
}
@media (max-width: 568px) {

    .flex-container-d a{
        /* display: ; */
        float: right;
        margin-top: -21px;
        margin-right: -13px;
    }

    .flex-container-d > div {
        width:115px;
        height:93px;
        background-color: #f1f1f1;
        margin: 2px;
        padding: 5px;
        font-size: 12px;
        margin-top: 3px;
        border-radius: 22px;
        border: 1px solid lightblue;
        /* opacity: .9; */
    }
}
/* .flex-container-d > div:hover {
    opacity: 1;
    
} */
.clear-all{
    clear: both;
}

